<md-card>
  <md-toolbar color="primary">What is {{person.name}} paying for?</md-toolbar>
  <md-card-content>
    <md-input placeholder="Name/Description" [(ngModel)]="item.name">
      <md-hint align="end">(Optional)</md-hint>
    </md-input>
    <md-input placeholder="Amount" [(ngModel)]="item.amount"></md-input>
    <button md-mini-fab (click)="add()">
      <md-icon class="md-24">add</md-icon>
    </button>
    <md-list>
      <md-list-item *ngFor="let item of items; let i = index">
        {{item.name}} - {{item.amount}} <button md-mini-fab (click)="remove(i)"><md-icon class="md-24">delete</md-icon></button>
      </md-list-item>
    </md-list>
  </md-card-content>
    <button md-button (click)="done()">Done</button>
  <md-card-actions>
  </md-card-actions>
</md-card>