<md-card>
  <md-toolbar md-card-image>What is the bill value?</md-toolbar>
  <md-card-content>
    <md-input placeholder="Sub Total" [(ngModel)]="subtotal">
      <md-hint><i>Total value without tax</i></md-hint>
    </md-input>
    <md-input placeholder="Grand Total" [(ngModel)]="grandtotal">
      <md-hint><i>Amount you have to pay</i></md-hint>
    </md-input>    
  </md-card-content>    
    <button md-button (click)="next()"><span class="action-btn"><strong>Next</strong></span></button>
</md-card>
